<header class="header">

    <!-- Div que carrega o logo da Blue -->
    <div class="bloco">
        <img width="200" src="../static/logo-blue.gif" alt="Logo homepage Blue">
    </div>

    <!-- Nome da nossa aplicação -->
    <div class="bloco">
        <h1>CRUD com Python, Flask e SQL</h1>
    </div>

    <!-- Botões de navegação -->
    <div class="bloco">
        <a href="/create" class="botao">Criar (Create)</a>
        <a href="/read" class="botao">Visualizar Tudo (Read)</a>
    </div>
</header>